<div class="Banner-Cotainer row">
    <div class="col-md-6 d-flex flex-column justify-content-end align-items-start">
        <h1 class="text-orange">Multi-Vendor Ecommerce</h1>
        <h6 class="text-white font-lg">Plug & Play Multi-Vendor online store with 24*7 Tech Support. So, you can focus on business while we take care of your store.</h6>
        <button type="button" class="btn btn-sm font-weight-bold text-white px-4 py-2 my-3 blur-btn font-lg">Read More</button>
    </div>
    <div class="col-md-6">
        
    </div>
</div>
