.Banner-Cotainer{
        background-position: right bottom, left top;
        background-repeat: no-repeat, repeat;
        padding: 20px 0rem 25px 7rem;
        height: 470px;
        border-bottom: 15px solid #ffa230;
        background-size: cover;
}
.nightOwler{
        background-image: url(../../../../assets/nightOwler.jpg) !important;
}
.ecommerce{
        background-image: url(../../../../assets/ecommerce.jpg) !important;
}
.community{
        background-image: url(../../../../assets/community.jpg) !important;
}
.elearning{
        background-image: url(../../../../assets/elearning.jpg) !important;
}
.blury-btn{
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(15px);
        padding: 10px 4rem;
}
@media only screen and (max-width: 600px) {
        .Banner-Cotainer {
                padding: 10px;
        }
      }