.form-container{
    width: 400px;
    margin-top: 4rem;
    .form-title{
        padding:10px 15px;
        font-size:18x;
        line-height:27px;
        color:white;
    }
    .inputField{
        margin:20px 0px;
        ::placeholder {
            color:white;
        }
        input{
            width: 100%;
            border: none;
            padding: 13px 25px;
            color:white;
            font-size:14px;
            line-height:21px;
        }
    }
    /* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
   
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    bottom: 100;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content {
    background-color: #f88008;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(15, 5, 5);
    width: 80%;
  }
  
  /* The Close Button */
  #close {
      align-self: flex-end;
    color: #130606;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
    .book-btn{
        width:100%;
        background: linear-gradient(180deg, #FFA230 0%, #FFEACF 100%);
        box-shadow: 5px 4px 30px rgba(217, 125, 14, 0.52);
        border-radius: 4px;
    }
    .font-18{
        font-size:18px;
    }
    .wantToKnow{
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(15px);
    }
    .blured-text{
        background: rgb(255 255 255 / 13%);
        backdrop-filter: blur(15px);
        border-radius: 4px;
    }
}