.form-container{
    width: 400px;
    margin-top: 4rem;
    .form-title{
        padding:10px 15px;
        font-size:18x;
        line-height:27px;
        color:white;
    }
    .inputField{
        margin:20px 0px;
        ::placeholder {
            color:white;
        }
        input{
            width: 100%;
            border: none;
            padding: 13px 25px;
            color:white;
            font-size:14px;
            line-height:21px;
        }
    }
    .book-btn{
        width:100%;
        background: linear-gradient(180deg, #FFA230 0%, #FFEACF 100%);
        box-shadow: 5px 4px 30px rgba(217, 125, 14, 0.52);
        border-radius: 4px;
    }
    .font-18{
        font-size:18px;
    }
    .wantToKnow{
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(15px);
    }
    .blured-text{
        background: rgb(255 255 255 / 13%);
        backdrop-filter: blur(15px);
        border-radius: 4px;
    }
}