<div class="form-container">
  <div class="blur-btn form-title d-flex justify-content-center wantToKnow">
    <p class="mb-0 font-18 " *ngIf="ShowError()">{{Message}}</p>
       <p class="mb-0 font-18 " *ngIf="!ShowError()">Want to know what we have to offer?<br><span class="pl-3">Book a demo now,<b> ITS FREE!</b> </span></p>
  </div>
  <div class="blur-btn inputField">
    <input
      type="text"
      [placeholder]="'Name'"
      class="blured-text"
      id="name"
      [(ngModel)]="name"
      name="name"
    />
  </div>
  <div class="blur-btn inputField">
    <input
      type="text"
      [placeholder]="'Email'"
      class="blured-text"
      id="email"
      [(ngModel)]="email"
      name="email"
    />
  </div>
  <div class="blur-btn inputField">
    <input
      type="text"
      [placeholder]="'Phone Number'"
      class="blured-text"
      id="number"
      [(ngModel)]="number"
      name="number"
    />
  </div>
  <button class="btn book-btn font-lg text-dark font-weight-bold"(click)="submit()">BOOK A FREE DEMO</button>
</div>
