<app-banner [content]="content"></app-banner>
<div class="containerBox">
  <div class="row">
    <div class="col-12">
      <h4 class="">
        Having a WhatsApp group which coressed over 200 members? Having a telegram group which is becoming hard to manage?
      </h4>
      <!-- <h6 class="mb-4">Already know? <span class="text-orange"> Skip</span></h6> -->
    </div>
    <div class="col-lg-9 col-md-12">
      <p class="font-lg mt-3">
        Managing a community over social media platforms is deflinetely cost consuming but not user friendly, there will always be a continuous hunt on improvising the expreience of the community members as social media platforms are not designed for that specific problems
      </p>
    </div>
    <div class="col-12">
      <hr class="orangeline" />
    </div>
    <div class="col-12">
      <h4 class="mb-4">
        What are we talking about here?
      </h4>
      <p class="font-lg basic-bold">
        We have developed a system which allows you to handpick from a set of features relevant to your online community from likes and comments to messaging and video conferencing which will allow you to manage and grow your community more efficientely in a long run.
      </p>

      <hr class="orangeline" />
    </div>
    <div class="col-12">
      <h4 class="mb-5">What do we <b>offer?</b></h4>
      <app-card [cardContent]="cardContent"></app-card>
    </div>
    <div class="col-12 mt-4">
      <div class="p-4 actionCard">
        <p class="font-lg mb-3">
          Want to see this features in <b><i>LIVE ACTION</i></b>? <br> Tired of Managing online communities over social media platforms ? 
        </p>
        <p class="font-lg mb-2">Book a demo now, <b><i>ITS FREE!!</i></b></p>
        <div class="row btnGroup d-flex flex-row align-items-center">
          <div class="footerFields col-md-3">
            <input
              type="text"
              [placeholder]="'Name'"
              class=""
              id="footerName"
              [(ngModel)]="footerName"
              name="footerName"
            />
          </div>
          <div class="footerFields col-md-3">
            <input
              type="text"
              [placeholder]="'Email'"
              class=""
              id="footerEmail"
              [(ngModel)]="footerEmail"
              name="footerEmail"
            />
          </div> 
          <div class="footerFields  col-md-3">
            <input
              type="text"
              [placeholder]="'Phone Number'"
              class=""
              id="footerNumber"
              [(ngModel)]="footerNumber"
              name="footerNumber"
            />
          </div>
          <button
          type="button"
          class="btn btn-sm btn-primaryOrange font-weight-bold text-white px-4 py-2 my-3 font-lg mobileBook"
        >
        Book a Free Demo
        </button>
        </div>
        
      </div>
    </div>
  </div>
</div>
