<app-banner [content]="content"></app-banner>
<div class="containerBox">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-4">
        Who are <b>The Nightowlers</b> are why should I care?
      </h4>
    </div>
    <div class="col-9">
      <p class="font-lg">
        <b><i>The Nightowlers </i></b> are our handpicked freelancers who have
        the skill and experience to get the job done.<br />
        Every <b> <i>Nightowler</i> </b> has extensively worked with us on
        various projects and are exceptional team players
      </p>
    </div>
    <div class="col-12 my-5">
      <p class="font-lg font-weight-bold mb-2">Problems</p>
      <p class="font-lg">
        Working with freelancers has been always been a tougher job than working
        with an outsourcing company for everyone who has ever got a chance to
        hire one. <br/>
        No credibility, do not know if he/she is well equiped with the skills
        and experience you require to get your job done. No guaranteed project
        completion or legal bond signed between the 2 parties so as to assure
        timely and complete delivery of the work.
      </p>
    </div>
    <div class="col-12">
      <div
        class="p-4 actionCard"
      >
        <p class="font-lg">
          We are solving this problem, so you get a company like service whilst
          working with freelancers.
        </p>
        <h4 class="font-weight-bold my-3">Wanna know how?</h4>
        <a href="http://thenightowlers.com" target="_blank">
          <button type="button" class="btn btn-sm btn-primaryOrange font-weight-bold text-white px-5 py-2 font-lg">Visit Website</button>
        </a>
      </div>
    </div>
  </div>
</div>
