@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
.footer{
    height: 279px;
    background: linear-gradient(180deg, #3E3E3E 0%, #231F20 100%);
    .form-container{
        .form-title{
            padding:10px 15px;
            font-size:18x;
            line-height:27px;
            color:white;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(15px);
        }
        .inputField{
            margin:20px 0px;
            ::placeholder {
                color:white;
            }
            input{
                width: 100%;
                border: none;
                padding: 8px 25px;
                color:white;
                font-size:14px;
                line-height:21px;
            }
        }
        .book-btn{
            width:100%;
            background: linear-gradient(180deg, #FFA230 0%, #FFEACF 100%);
            box-shadow: 5px 4px 30px rgba(217, 125, 14, 0.52);
            border-radius: 4px;
        } 
        .blured-text{
            background: rgb(255 255 255 / 13%);
            backdrop-filter: blur(15px);
            border-radius: 4px;
        }
    }
    .cursorHand {
        cursor: pointer;
    }

.d-flex{
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.fa{
    width: 30px;
    height: 30px;
    color: white;
    margin: 0px 5px;
}

    @include media-breakpoint-down(md)  {
        height: 100%;
        .mobileHide{
            display: none
        }
        .mobileView{
            display: flex;
            flex-direction: row;
            padding: 0px 0px 25px 0px;
        }
    }
}
