<div class="footer row px-5 py-4">
    <div class="col-md-3 col-xs-12">
        <h5 class="text-white font-weight-bold px-2">Contact US</h5>
        <ul class="navbar-nav py-2">
           <li class="px-2 py-1 text-white font-sm mobileHide ">General Enquiry</li>
           <li class="px-2 py-1 text-white font-sm ">Phone :<span class="pl-2">9284469487</span></li>
           <li class="px-2 py-1 text-white font-sm ">email :<span class="pl-2">vtorLabs@gmail.com</span></li> 
           <li class="px-2 py-1 text-white font-sm ">Partnerships :<span class="pl-2">9284469487</span></li>  
        </ul>
        <h5 class="text-white font-weight-bold px-2 mt-4">Follow Us on</h5>
    </div>
    <div class="col-md-3 col-xs-12 mobileHide">
        <h5 class="text-white font-weight-bold px-2">Products</h5>
        <ul class="navbar-nav py-2">
            <li class="nav-item"  (click)="onClick('#/home/nightOwler')">
              <a class="nav-link px-2 py-1 text-white">Nightowlers</a>
            </li>
            <li class="nav-item" (click)="onClick('#/home/e-commerce')">
              <a class="nav-link px-2 py-1 text-white">Multi-Vendor Ecommerce</a>
            </li>
            <li class="nav-item" (click)="onClick('#/home/e-learning')">
              <a class="nav-link px-2 py-1 text-white">E-Learning & Entertainment</a>
            </li>
            <li class="nav-item" (click)="onClick('#/home/community')">
                <a class="nav-link px-2 py-1 text-white">Virtual Community</a>
              </li>
              <li class="nav-item" (click)="onClick('#/home/appointment-booking')">
                <a class="nav-link px-2 py-1 text-white">Appointment Booking System</a>
              </li>
          </ul>
    </div>
    <div class="col-md-3 col-xs-12">
        <h5 class="text-white font-weight-bold px-2">About US</h5>
        <ul class="navbar-nav py-2 mobileView">
            <li class="nav-item" (click)="onClick('home',true)">
              <a class="nav-link px-2 py-1 text-white">Home</a>
            </li>
            <li class="nav-item" (click)="onClick('product',true)">
              <a class="nav-link px-2 py-1 text-white">Products</a>
            </li>
            <li class="nav-item" (click)="onClick('client',true)">
              <a class="nav-link px-2 py-1 text-white">Clients</a>
            </li>
            <li class="nav-item" (click)="onClick('team',true)">
                <a class="nav-link px-2 py-1 text-white">Team</a>
              </li>
          </ul>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="form-container">
            <div class="blur-btn form-title d-flex justify-content-center">
                <h6 class="text-white px-2 text-center font-weight-normal">Get in touch to turn your <br> <span class="font-weight-bold">Vision</span> into <span class="text-orange">Reality</span></h6>
            </div>
            <div class="blur-btn inputField">
              <input
                type="text"
                [placeholder]="'Email'"
                class="blured-text"
                id="email"
                [(ngModel)]="email"
                name="email"
              />
            </div>
            <div class="blur-btn inputField">
              <input
                type="text"
                [placeholder]="'Phone Number'"
                class="blured-text"
                id="number"
                [(ngModel)]="number"
                name="number"
              />
            </div>
            <button class="btn book-btn font-sm text-dark font-weight-bold"(click)="submit()">SUBMIT</button>
          </div>
        <!-- <app-detailsform></app-detailsform> -->
    </div>
</div>
