<app-banner [content]="content"></app-banner>
<div class="containerBox">
  <div class="row">
    <div class="col-12">
      <h4 class="mobileText">Why is it important to get your coaching online <b><i>NOW </i></b>? This is the time, it is <b><i>NOW </i>or <i>NEVER</i></b>!!</h4>
      <!-- <h6 class="mb-4">Already know? <span class="text-orange"> Skip</span></h6> -->
    </div>
    <div class="col-lg-9 col-md-12">
      <p class="font-lg">
        With an unfortunate event of the Covid-19 Pandemic, their has been a rise of investments in the Ed-Tech Backgroud to upto 200%. Every 8 out of 10 coachings are moving their business to online platforms to be able to run their teaching process effeciently.
      </p>
    </div>
    <div class="col-12">
      <hr class="orangeline" />
    </div>
    <div class="col-12">
      <h4 class="mb-4">
        How are we <b>different </b>from any other Ed-Tech solution providers?
      </h4>
      <p class="font-lg basic-bold">
        We want to solve real life problems and not just creating a product that can make us MONEY!Some of the biggest problems traditional learning businesses are facing while moving online are:<br>
        1. Student’s attentiveness ratio<br>
        2. Attendence Management<br>
        3. Pre-recorded sessions<br>
        4. 1-1 Mentoring<br>
        5. Competitive Learning - Leaderboards<br>
        We Offer a unique set of features which allows you to solve all of the above problems with ease.<br>
      </p>

      <hr class="orangeline" />
    </div>
    <div class="col-12">
      <h4 class="mb-5">What do we <b>offer?</b></h4>
      <app-card [cardContent]="cardContent"></app-card>
    </div>
    <div class="col-12 mt-4">
      <div class="p-4 actionCard">
        <p class="font-lg mb-3">
          Want to see this features in <b><i>LIVE ACTION</i></b>? <br> Want to know how you can
          build your own multi-vendor Ecommerce Empire with us?
        </p>
        <p class="font-lg mb-2">Book a demo now, <b><i>ITS FREE!!</i></b></p>
        <div class="row btnGroup d-flex flex-row align-items-center">
          <div class="footerFields col-md-3">
            <input
              type="text"
              [placeholder]="'Name'"
              class=""
              id="footerName"
              [(ngModel)]="footerName"
              name="footerName"
            />
          </div>
          <div class="footerFields col-md-3">
            <input
              type="text"
              [placeholder]="'Email'"
              class=""
              id="footerEmail"
              [(ngModel)]="footerEmail"
              name="footerEmail"
            />
          </div> 
          <div class="footerFields  col-md-3">
            <input
              type="text"
              [placeholder]="'Phone Number'"
              class=""
              id="footerNumber"
              [(ngModel)]="footerNumber"
              name="footerNumber"
            />
          </div>
          <button
          type="button"
          class="btn btn-sm btn-primaryOrange font-weight-bold text-white px-4 py-2 my-3 font-lg mobileBook"
          onclick="submit()"
        >
        Book a Free Demo
        </button>
        </div>
        
      </div>
    </div>
  </div>
</div>
