@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.mainBackground {
  background: #f8f8f7;
  //background: linear-gradient(180deg, #ffeacf 0%, #f8f8f8 100%);
}
.containerBackground {
  background: linear-gradient(180deg, #ffeacf 0%, #f8f8f8 100%);
  padding: 10rem 7rem 0rem 14%;
}
.home-container {
  padding: 0rem 10rem 3rem 14%;
}
.home-product {
  padding: 0rem 0rem 3rem 14%;
}
.enquiry {
  .part1 {
    position: absolute;
    left: 57%;
    top: 148.82px;
  }
  .vector {
    position: absolute;
    width: 112.58px;
    height: 97.03px;
    left: 53%;
    top: 105.01px;
    z-index: 2;
  }
  .darkVector {
    position: absolute;
    width: 136px;
    height: 136.12px;
    left: 53%;
    top: 131.67px;
    z-index: 1;
  }
  .bigVector {
    position: absolute;
    width: 368.2px;
    height: 366.51px;
    left: 68%;
    top: 302.59px;
  }
  .bigDarkVector {
    position: absolute;
    left: 61%;
    top: 439.62px;
  }
  .productVector {
    position: absolute;
    width: 458.59px;
    height: 451.61px;
    left: 133.62px;
    top: 895.61px;
  }
  .darkProductVector {
    position: absolute;
    left: 230.5px;
    top: 940px;
  }
}
.fontxl {
  font-size: 48px;
  line-height: 72px;
}
.email-id {
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 4px 5px 30px rgba(219, 219, 219, 0.25);
  backdrop-filter: blur(25px);
  padding: 16px;
  border-radius: 5px;
  ::placeholder {
    color: #c1c1c1;
  }

  input {
    width: 100%;
    padding: 1.5rem;
    border: none;
  }
}
.dropdown {
  background: rgba(255, 162, 48, 0.26);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  padding: 16px;
  margin-left: 10px;
  .btn-dropdown {
    border-radius: 5px;
    width: 55%;
    margin-right: 0px;
    padding: 1rem;
    background: #ffeacf;
  }
  .custom-select{
    background: #ffeacf;
    border-color: #ffeacf;
    text-align: center;
    
  }
  .orange-btn {
    background: #ffa230;
    border-radius: 5px;
    width: 40%;
    padding: 1.5rem;
    margin-left: 1rem;
  }
}
.product {
  margin-top: 18rem;
  .ml-7 {
    margin-left: 13rem;
  }
  .knowMoreCard {
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    width: 279px;
    height: 215px;
    border: 1px solid lightgrey;
    z-index: 1;
    border-radius: 5px;
    //width: 280px;
    .content {
      height: 105px;
    }
    .btn-grey {
      padding: 5px 50px;
      background: linear-gradient(180deg, #9c9c9c 0%, #e6e6e6 100%);
      // background: linear-gradient(180deg, #9C9C9C 0%, #E6E6E6 100%);
      border-radius: 4px;
    }
  }
  .knowMoreCard:hover {
    border: 1px solid #ffa230;
    box-shadow: 5px 5px 30px rgba(26, 26, 26, 0.13);
    .title {
      color: #ffa230 !important;
    }
    .btn-grey {
      background: linear-gradient(180deg, #ffa230 0%, #ffeacf 100%);
    }
  }
}
.clients {
  .backgroundImg1 {
    background: url("../../assets/theatre.jpg");
    height: 330px;
  }
  .backgroundImg2 {
    background: url("../../assets/theatre.jpg");
    height: 330px;
  }
  .backgroundImg3 {
    background: url("../../assets/theatre.jpg");
    height: 330px;
  }
  .clientBox {
    width: 100px;
    height: 100px;
    left: 880px;
    top: 2146px;
    background: rgba(255, 162, 48, 0.7);
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 20px
  }
}
.howWork {
  .workBoxLine {
    position: relative;
    z-index: 1;
  }
  .workBoxLine:before {
    content: "";
    content: "";
    z-index: -1;
    position: absolute;
    border-bottom: 1px solid black;
    width: 40%;
    right: 88%;
    bottom: 45%;
  }
  .shortWorkBoxLine {
    position: relative;
    z-index: 1;
  }
  .shortWorkBoxLine:before {
    content: "";
    content: "";
    z-index: -1;
    position: absolute;
    border-bottom: 1px solid black;
    width: 54px;
    right: 88%;
    bottom: 45%;
  }
  .lineDown {
    position: relative;
    z-index: 1;
  }
  .lineDown:after {
    content: "";
    content: "";
    content: "";
    z-index: -1;
    position: absolute;
    border-bottom: 1px solid black;
    width: 28%;
    right: 37%;
    bottom: 45%;
    transform: rotate(90deg);
    top: 118%;
  }
  .workBox {
    z-index: 1;
    border-top: 2px solid white;
    height: 72px;
    width: 279px;
    color: white;
    font-weight: 500;
    background: linear-gradient(0deg, #ffa230, #ffa230);
    box-shadow: 5px 5px 30px rgba(26, 26, 26, 0.13);
    border-radius: 5px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .line1 {
    position: absolute;
    width: 837px;
    height: 1px;
    left: 15px;
    top: 88px;
  }
  .line2 {
    position: absolute;
    width: 837px;
    height: 1px;
    left: 15px;
    top: 206px;
  }
  .line3 {
    position: absolute;
    left: 852px;
    top: 73px;
  }
}

.team {
  background: linear-gradient(to bottom, #f8f8f8 0%, #ffeacf 100%);
  // .teamImg {
    // background: linear-gradient(to bottom, #333, #333 60%, #eee 75%)
    // background-image: linear-gradient(red, yellow);
    //height: 300px;
  // }
}
.teamBox {
  padding: 0rem 10rem 0rem 14%;
}

.nameBox {
  // position: absolute;
  width: 30px;
  height: 30px;
  // left: 481px;
  // top: 2959px;
  background: #ffeacf;
  border: 1px solid #ffa230;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0px 5px;
}

.fa{
  width: 30px;
  height: 30px;
  color: #ffa230;
  margin: 0px 2px;
}
.fa-caret-down{
  color:black !important;
}

.font-strong {
  font-weight: 500;
}
.workContainer {
  background: #ffeacf;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
  width: 100%;
  height: 495px;
  left: 0px;
  top: 1522px;
}
h2.strikeLine {
  position: relative;
  z-index: 1;
  &:before {
    border-top: 15px solid #ffa230;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 62%;
    left: -200px;
    right: 0;
    bottom: 0;
    width: 34%;
    z-index: -1;
  }
}
h2.strikeLineTeam {
  position: relative;
  z-index: 1;
  &:before {
    border-top: 15px solid #ffa230;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 62%;
    left: -88%;
    right: 0;
    bottom: 0;
    width: 8%;
    z-index: -1;
  }
}
h2.strikeLineProduct {
  position: relative;
  z-index: 1;
  &:before {
    border-top: 15px solid #ffa230;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 62%;
    left: -211px;
    right: 0;
    bottom: 0;
    width: 38%;
    z-index: -1;
  }
}
h2.strikeLineWork {
  position: relative;
  z-index: 1;
  &:before {
    border-top: 15px solid #ffa230;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 62%;
    left: -75%;
    right: 0;
    bottom: 0;
    width: 21%;
    z-index: -1;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #ff9933;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(15, 1, 1);
  width: 80%;
}

/* The Close Button */
#close {
  align-items: flex-end;
  align-self:flex-end;
  color: #050101;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
h2.strikeLineClient {
  position: relative;
  z-index: 1;
  &:before {
    border-top: 15px solid #ffa230;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 62%;
    left: -86%;
    right: 0;
    bottom: 0;
    width: 10%;
    z-index: -1;
  }
}
.orange-gradient {
  box-shadow: 5px 5px 30px rgba(106, 106, 106, 0.22);
  background: linear-gradient(180deg, #fcdeb8 38%, #ffffff 100%);
}
.font-500 {
  font-weight: 500;
}
.font-xl {
  font-size: 36px;
}
.pr-7 {
  padding-right: 7rem;
}
.carousel-inner {
  box-shadow: 5px 5px 30px rgba(106, 106, 106, 0.22);
  width: 75vw;
  img {
    width: 100%;
    height: 100%;
  }
}

.mobilePadding{
  z-index: 1;
  padding-top: 6rem;
}
@include media-breakpoint-down(md) {
  .containerBackground,
  .home-container,
  .teamBox {
    padding: 0rem 2rem;
  }
  .containerBackground {
    padding-top: 2rem;
  }
  .hideMobile,
  .shortWorkBoxLine:before,
  .workBoxLine:before,
  .lineDown:after {
    display: none !important;
  }
  .orange-btn {
    padding: 0.5rem !important;
    font-size: 14px;
    margin-top: 15px;
  }
  .btn-dropdown {
    width: 100% !important;
    padding: 0.5rem !important;
    margin-right: 1.5rem;
  }
  .ml-7 {
    margin: 0px !important;
  }
  input {
    padding: 0.5rem !important;
  }
  .product {
    margin-top: 0rem !important;
  }
  .ml-5,
  .ml-4,
  .pl-5,
  .mt-5,
  .pr-5,
  .px-5 {
    margin: 0px !important;
    padding: 0px !important;
  }
  .knowMoreCard {
    margin: 0.5rem 0px !important;
  }
  .carousel-inner {
    width: 100%;
  }
  .img-fluid {
    height: auto;
    width: 100vw !important;
  }
  .mobileSpace {
    margin: 0px 10px !important;
  }
  .mobileBox {
    padding: 0px !important;
  }
  .mobileLeft {
    margin-left: 1rem !important;
  }
  .btn-grey {
    background: linear-gradient(180deg, #ffa230 0%, #ffeacf 100%) !important;
  }
  .knowMoreCard {
    border: 1px solid #ffa230 !important;
  }
  .pr-7 {
    padding: 0px 3rem 1rem 0px !important;
  }
  .mobilePadding {
    padding-right: 10px !important;
    padding-top: 10px !important;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px !important;
  }

  h2.strikeLineWork {
    &:before {
      left: -15%;
      width: 78%;
    }
  }
  h2.strikeLineClient {
    &:before {
      left: -56%;
      width: 37%;
    }
  }
  h2.strikeLineTeam {
    &:before {
      left: -58%;
      width: 30%;
    }
  }
  h2.strikeLineProduct {
    &:before {
      left: -162px;
      width: 50%;
    }
  }
  .orange-gradient{
    min-height: 300px;
  }
}