.btn-main {
  background: #ffeacf;
  border-radius: 5px;
  line-height: 22px;
  color: #ffa230;
  height: 50px;
}
.nav-item{
  cursor: pointer;
  .nav-link{
    font-weight: 500;
    a:hover {
      color:#ffa230 !important;
    }
  }
  
}


