<nav class="navbar sticky-top bg-white px-5 py-0">
    <!-- Navbar content -->
    <a class="navbar-brand font-weight-bold font-md d-flex align-items-center text-dark ml-5" href="#">
        <img src="./assets/logo.png" width="65" height="60" class="d-inline-block align-top mx-2 mr-3" alt="">
        <span class="pl-3" style="border-left: 2px solid black">Vision to Reality Labs</span>
    </a>
    <div class="d-flex mr-5">
    <ul class="navbar-nav flex-row py-2" *ngIf="show">
        <li class="nav-item px-4" (click)="onClick('home')">
          <a class="nav-link px-2" [ngClass]="selectedItem == 'home' ? 'text-orange' : 'text-dark'">Home</a>
        </li>
        <li class="nav-item px-4" (click)="onClick('product')">
          <a class="nav-link px-2" [ngClass]="selectedItem == 'product' ? 'text-orange' : 'text-dark'">Products</a>
        </li>
        <li class="nav-item px-4" (click)="onClick('client')">
          <a class="nav-link px-2" [ngClass]="selectedItem == 'client' ? 'text-orange' : 'text-dark'">Clients</a>
        </li>
        <li class="nav-item px-4" (click)="onClick('team')">
            <a class="nav-link px-2" [ngClass]="selectedItem == 'team' ? 'text-orange' : 'text-dark'">Team</a>
          </li>
      </ul>
      <button *ngIf="deviceType !== 'mobile'" type="button" class="btn btn-main btn-sm font-weight-bold font-md px-5 mx-2">Contact us</button>
    </div>
  </nav>

  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="d-flex mr-5">
        <div *ngIf="!show">
          <ul class="navbar-nav flex-row py-2">
            <li class="nav-item px-4" (click)="onClick('home')">
              <a class="nav-link px-2" [ngClass]="selectedItem == 'home' ? 'text-orange' : 'text-dark'">Contact Us</a>
            </li>
            </ul>
        </div>
        <ul class="navbar-nav flex-column py-2" *ngIf="show">
            <li class="nav-item px-4" (click)="onClick('home')">
              <a class="nav-link px-2" [ngClass]="selectedItem == 'home' ? 'text-orange' : 'text-dark'">Home</a>
            </li>
            <li class="nav-item px-4" (click)="onClick('product')">
              <a class="nav-link px-2" [ngClass]="selectedItem == 'product' ? 'text-orange' : 'text-dark'">Products</a>
            </li>
            <li class="nav-item px-4" (click)="onClick('client')">
              <a class="nav-link px-2" [ngClass]="selectedItem == 'client' ? 'text-orange' : 'text-dark'">Clients</a>
            </li>
            <li class="nav-item px-4" (click)="onClick('team')">
                <a class="nav-link px-2" [ngClass]="selectedItem == 'team' ? 'text-orange' : 'text-dark'">Team</a>
              </li>
          </ul>
        </div>
    </div>
    <nav class="navbar navbar-white bg-white">
      <a class="navbar-brand font-weight-bold font-md d-flex align-items-center text-dark ml-1" href="#">
        <img src="./assets/logo.png" width="50" height="50" class="d-inline-block align-top mx-1 mr-2" alt="">
        <span class="pl-3" style="border-left: 2px solid black">Vision to Reality Labs</span>
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <img _ngcontent-nil-c47="" src="./assets/phicon.png" width="30" height="30" alt="" class="d-inline-block align-top mx-1">
      </button>
    </nav>
  </div>